/* task body */
.task-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: var(--space-8);
  width: 26.2rem;
  min-height: 11.7rem;

  margin-bottom: var(--space-16);
  text-align: left;
  background-color: var(--cyan-blue);
  border-radius: var(--border-radius-7);
}

.task-item-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.task-item__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.task-item__heading {
  font-size: var(--font-size-15);
  font-weight: var(--bold-weight);
  color: var(--light-pink);
}

.start-date,
.end-date,
.duration-badge {
  font-size: var(--font-size-12);
  font-weight: var(--bold-weight);
  color: var(--light-pink);
}

.button-icon {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--light-pink);
  border-radius: 20%;
}
/* Sort components */
.category-sort {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-8);
  padding: var(--space-8);

  border: var(--border-radius-2) solid var(--cyan-blue);
  border-radius: var(--border-radius-2);
  color: var(--cyan-blue);
  font-size: var(--font-size-13);
  font-weight: var(--bold-weight);
}

.priority-sort {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-8);
  padding: var(--space-8);

  background-color: var(--cyan-blue);
  border: var(--border-radius-2) solid var(--cyan-blue);
  border-radius: var(--border-radius-2);
  color: var(--light-pink);
  font-size: var(--font-size-13);
  font-weight: var(--bold-weight);
}

.priority-dropdown,
.category-dropdown {
  flex-direction: column;
  text-align: left;
  width: 100%;

  border: 0.3rem solid var(--cyan-blue);
  border-top: none;
  border-radius: var(--border-radius-7);
  padding: 0 var(--space-8);
}
/* mini search bar */
.search-bar-mini__input-bar {
  display: flex;
  flex-wrap: none;
  width: 13rem;
  height: 3.2rem;

  padding: var(--space-4);
  background-color: var(--light-pink);
  border-radius: var(--border-radius-6);
  border: var(--border-radius-2) solid var(--cyan-blue);
}

.input-bar-mini__main-input {
  border: none;
  flex: 1;
  width: 90%;
  padding: var(--space-4);

  background-color: var(--light-pink);
  color: var(--cyan-blue);
  font-size: var(--font-size-11);
  font-weight: var(--regular-weight);
  opacity: 0.4;
  outline: none;
}
/* button controls */

.add-task-icon {
  z-index: 1000;
  position: fixed;
  top: 7rem;
  width: 5rem;
  right: 3rem;
  height: 5rem;
  float: right;
  margin-right: var(--space-32);
}

.button-controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--space-64);
}

.list-view .status-button {
  flex-direction: row-reverse;
  margin-right: -2.5rem;
}

.add-to-list,
.edit-task-button,
#edit-task-overlay .mark-completed,
.overlay-delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  padding: var(--space-8) 0;

  background-color: var(--cyan-blue);
  border: var(--border-radius-3) solid var(--cyan-blue);
  border-radius: var(--border-radius-6);

  font-size: var(--font-size-17);
  font-weight: var(--regular-weight);
  color: var(--light-pink);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.add-to-list:hover,
.edit-task-button:hover,
#edit-task-overlay .mark-completed:hover,
.overlay-delete-button:hover,
.cancel:hover {
  box-shadow:
    0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.add-to-list {
  width: 20rem;
}

.cancel {
  width: 20rem;
  padding: var(--space-8) 0;
  background-color: var(--pink);

  border: var(--border-radius-3) solid var(--pink);
  border-radius: var(--border-radius-6);
  font-size: var(--font-size-17);
  font-weight: var(--regular-weight);

  color: var(--black);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: var(--space-32);

  width: 100%;
  padding: 0 var(--space-32);
  margin-top: var(--space-48);
  font-size: var(--font-size-15);
}

.sort-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-32);
}

/* text area input */
.textarea-input {
  min-height: var(--space-128);
  width: 57%;
  border: var(--border-radius-3) solid var(--cyan-blue);
  border-radius: var(--border-radius-6);
  padding: var(--space-16);

  background-color: var(--light-pink);
  font-size: var(--font-size-15);
  font-weight: var(--regular-weight);
  color: var(--cyan-blue);
}

.textarea-input::placeholder {
  color: var(--cyan-blue);
  opacity: 1;
}

/* Notification prompted after user deleted a task */
.notification,
.error-notification {
  z-index: 1000;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  gap: var(--space-8);

  padding: var(--space-32);
  height: 8rem;
  width: 100%;
  max-width: 30rem;

  transition-property: top;
  transition-duration: 0.5s;

  border-radius: var(--border-radius-7);
  font-size: var(--font-size-20);
  font-weight: var(--regular-weight);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.notification {
  background-color: var(--cyan-blue);
  color: var(--light-pink);
}

.error-notification {
  background-color: rgb(245, 144, 144);
}

.notification.show,
.error-notification.show {
  top: 2rem;
  opacity: 1;
}

.notification-message {
  color: var(--light-pink);
  font-size: var(--font-size-20);
  font-weight: var(--regular-weight);
}

.error-notification.show .error-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.error-notification .error-icon {
  width: 2rem;
  height: 2rem;
  color: var(--light-pink);
}
.error-notification .error-message {
  font-weight: var(--regular-weight);
  font-size: var(--font-size-20);
  color: var(--white);
}

.hiding-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: black;
}

.hiding-overlay.hide {
  display: none;
}
