/* Side navbar */
.side-navbar {
  position: fixed;
  width: 25rem;
  height: 100%;

  background-color: var(--cyan-blue);
  transition: 0.5s ease;
  overflow: hidden;
}

.side-navbar--list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar--list__item {
  position: relative;
  width: 100%;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

.navbar--list__item:hover,
.navbar--list__item.hovered {
  background-color: var(--light-pink);
  color: var(--cyan-blue);
}

.navbar--list__item:nth-child(1) {
  margin-bottom: 4rem;
  pointer-events: none;
}
.navbar--list__item:nth-child(5) {
  display: none;
}
.dashboard,
.all-tasks,
.completed-tasks,
.app-logo,
.add-a-task {
  position: relative;
  display: block;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  color: var(--light-pink);
  font-size: var(--font-size-17);
  font-weight: var(--regular-weight);
}

.navbar--list__item:hover a,
.navbar--list__item.hovered a {
  color: var(--cyan-blue);
}

.app-logo {
  justify-content: center;
  align-items: center;
}

.app-logo.active {
  justify-content: space-between;
}

.dashboard .icon,
.all-tasks .icon,
.completed-tasks .icon,
.app-logo .icon,
.add-a-task .icon {
  display: block;
  min-width: 6rem;

  height: 6rem;
  line-height: 7.5rem;
  text-align: center;
}

.app-logo .icon {
  position: relative;
  width: 2rem;
  height: 2rem;
  bottom: 1.5rem;
  background: var(--cyan-blue);
}

.logo-icon {
  width: 4rem;
  height: 4rem;
}

.dashboard .icon img,
.all-tasks .icon img,
.completed-tasks .icon img,
.add-a-task .icon img {
  padding: 0.7rem;
  border-radius: 25%;
  background: var(--cyan-blue);
}

.app-heading {
  padding-right: 1rem;
  height: 2.5rem;

  text-align: start;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: var(--font-size-20);
}

/* Curve nav */
.navbar--list__item:hover a::before,
.navbar--list__item.hovered a::before {
  content: '';
  position: absolute;
  right: 0;
  top: -5rem;
  width: 5rem;
  height: 5rem;

  background-color: transparent;
  border-radius: 50%;
  box-shadow: 3.5rem 3.5rem 0 1rem var(--light-pink);
  pointer-events: none;
}

.navbar--list__item:hover a::after,
.navbar--list__item.hovered a::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -5rem;
  width: 5rem;
  height: 5rem;

  background-color: transparent;
  border-radius: 50%;
  box-shadow: 3.5rem -3.5rem 0 1rem var(--light-pink);
}

/* Top bar */
.main-body {
  position: absolute;
  width: calc(100% - 25rem);
  left: 25rem;
  min-height: 100vh;

  border-right: 0.1rem solid var(--black);
  background: var(--light-pink);
  transition: 0.5s ease;
}

.main-body.active {
  width: calc(100% - 5.5rem);
  left: 5.5rem;
}

.top-bar {
  position: sticky;
  top: 0;
  position: -webkit-sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--light-cyan-blue);
  padding: var(--space-8) var(--space-16);
}

.menu-bar-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.search-bar__input-bar {
  display: flex;
  flex-wrap: none;
  width: 36.5%;
  padding: var(--space-4);

  background-color: var(--light-pink);
  border-radius: var(--border-radius-6);
}

.input-bar__main-input {
  border: none;
  flex: 1;
  width: 90%;
  padding: var(--space-4);

  background-color: var(--light-pink);
  color: var(--cyan-blue);
  font-size: var(--font-size-11);
  font-weight: var(--regular-weight);
  opacity: 0.4;
  outline: none;
}

.utility-icons {
  display: flex;
  flex-direction: row;
  gap: var(--space-16);
}

.circle {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: inline-block;
}
.radio-buttons-container .max-width-container {
  gap: var(--space-16);
}

.main-body .max-width-container.main {
  display: flex;
  flex-direction: column;
}

/* radio buttons for view options */
.radio-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-buttons-container .radio-label {
  cursor: pointer;
}
.radio-input {
  appearance: none;
  position: absolute;
}

/*Task body*/
.list-view {
  display: flex;
  flex-direction: column;
}

.mark-completed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--space-8);
}

.confirm-button-desc {
  font-size: var(--font-size-12);
  font-weight: var(--regular-weight);
  color: var(--light-pink);
}

/* lists view */
.list-view.hide {
  display: none;
  margin-top: var(--space-128);
}

.list-view .task-column {
  margin: var(--space-32) auto 0;
  background-color: var(--light-pink);
  border: 2px solid var(--black);
  border-radius: var(--border-radius-7);
  width: calc(100% - var(--space-32));
}

.list-view .task-column.pink {
  box-shadow: var(--pink-shadow);
  margin: var(--space-32) auto 0;
}

.list-view .task-column.blue {
  box-shadow: var(--blue-shadow);
}

.list-view .task-column.green {
  box-shadow: var(--green-shadow);
}

.list-header {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: var(--space-8);
  font-size: var(--font-size-20);
  font-weight: var(--bold-weight);
  color: var(--cyan-blue);
}
.list-view .task-item {
  width: 100%;
  background-color: var(--light-pink);
  border-bottom: 0.1rem solid var(--black);
  border-radius: 0;
}
.list-view .task-item__heading,
.list-view .start-date,
.list-view .end-date,
.list-view .duration-badge,
.list-view .confirm-button-desc {
  color: var(--cyan-blue);
}
.list-view .button-icon,
.list-view .task-edit,
.list-view .task-delete {
  background-color: var(--cyan-blue);
  padding: var(--space-4);
  border-radius: 25%;
}
.list-view .list-header {
  padding: var(--space-16);
  border-bottom: 2px solid var(--black);
}

.list-header .text {
  font-weight: 600;
  font-size: var(--font-size-16);
}

.task-item .task-item__details {
  width: 100%;
  text-align: left;
}

.list-view .task-item .task-item__details {
  display: grid;
  grid-template-areas:
    'heading heading heading'
    'start . .'
    'end . button';
}

.list-view .task-item:first-child {
  margin-top: 0;
}

.list-view .task-item .task-item__heading {
  grid-area: heading;
}

.list-view .task-item .start-date {
  grid-area: start;
  margin: auto 0;
}
.list-view .task-item .end-date {
  grid-area: end;
  margin: auto;
}
.list-view .task-item .mark-completed {
  grid-area: button;
  flex-direction: row-reverse;
  align-items: flex-end;
  margin-right: -2.5rem;
}
.list-view .task-item .task-item-actions {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  height: 100%;
  display: flex;
  gap: var(--space-4);
  align-items: center;
  justify-content: flex-start;
}

/* broad view */
.board-view {
  overflow-x: auto;
  padding: 0 var(--space-8) var(--space-8);
  column-gap: var(--space-24);
  scrollbar-width: none;
}
.board-view.hide {
  display: none;
}

.board-view::-webkit-scrollbar {
  display: none;
}

.board-view .task-item {
  margin: var(--space-16) auto 0;
}

.board-view .task-list.pink .task-item {
  box-shadow: var(--pink-shadow);
}

.board-view .task-list.blue .task-item {
  box-shadow: var(--blue-shadow);
}

.board-view .task-list.green .task-item {
  box-shadow: var(--green-shadow);
}

.board-view .task-column.pink {
  grid-area: toDo;
}

.board-view .task-column.blue {
  grid-area: running;
}

.board-view .task-column.green {
  grid-area: completed;
}
/*Create task*/
.popup-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 12rem;
  margin: var(--space-32) 13%;

  border-radius: var(--border-radius-4);
  font-size: var(--font-size-38);
  font-weight: var(--bold-weight);
  color: var(--white);
  background-color: var(--light-cyan-blue);
}

.label {
  font-size: var(--font-size-17);
  font-weight: var(--regular-weight);
  text-align: left;
  color: var(--cyan-blue);
  display: inline-flex;
  padding-bottom: var(--space-8);
}

.task-name-container,
.task-start-container,
.task-end-container,
.priority-select,
.category-select,
.default-option-container {
  display: flex;
  align-items: center;
  min-height: 4rem;
  width: 24rem;
  padding: 0 var(--space-8);
  cursor: pointer;
  border: var(--border-radius-3) solid var(--cyan-blue);
  border-radius: var(--border-radius-6);
}
.priority-select,
.category-select {
  flex-direction: column;
  border: none;
}

.task-name-input,
.task-start-input,
.task-end-input,
.default-option,
.priority-options,
.category-options,
.status-options {
  flex: 1;
  min-height: 4rem;
  font-size: var(--font-size-15);
  font-weight: var(--regular-weight);
  color: var(--cyan-blue);
  cursor: pointer;
}

.task-name,
.task-desc,
.task-priority,
.task-start,
.task-end,
.task-status {
  margin-bottom: var(--space-32);
}

.default-option,
.priority-options,
.category-options,
.status-options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: var(--space-8);
}

.priority-options,
.category-options,
.status-options {
  display: inline-flex;
  padding: var(--space-8) 0;
}

.status-options {
  margin-left: var(--space-8);
}

.priority-dropdown,
.category-dropdown {
  display: flex;
  flex-direction: column;
  width: 24rem;
  padding: 0 var(--space-16);
  border: var(--border-radius-3) solid var(--cyan-blue);
  border-radius: var(--border-radius-6);
  border-top: none;
  display: none;
}

input[type='radio'] {
  visibility: hidden;
}

.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10%;
  padding: var(--space-64) var(--space-64) var(--space-8);
}

.task-desc {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.task-desc .label {
  width: 57%;
}

/* Edit popup  */
.edit-popup {
  height: 100vh;
}

.edit-task-button,
.edit-controls .mark-completed,
.delete-button {
  width: 30%;
}

.edit-controls {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: var(--space-48);
}
/* all tasks section */
.all-tasks-popup .task-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--space-48);
}
/* create task overlay */
.overlay {
  background-color: var(--light-pink);
  position: fixed;
  width: calc(100% - 5.5rem);
  top: 5rem;
  z-index: 10;
  /* if content is longer than screen height, enable scrollbar */
  overflow-y: auto;
}
.overlay.toggle {
  width: calc(100% - 24rem);
}
.overlay.hide {
  display: none;
}

.create-task-popup {
  width: calc(100% - 5.5rem);
  margin: auto;
  height: 100vh;
  overflow-y: auto;
  background-color: var(--light-pink);
  border-radius: var(--radius-8);
}

@media (min-width: 1001px) {
  .board-view {
    display: grid;
    grid-template-areas: 'toDo running completed';
  }
}

@media (min-width: 650px) and (max-width: 1000px) {
  .board-view {
    display: grid;
    grid-template-areas:
      'toDo running'
      'completed completed';
  }
  .task-column.green {
    margin-top: var(--space-32);
  }
}
@media (max-width: 649px) {
  .board-view {
    display: grid;
    grid-template-areas: 'toDo ' 'running ' 'completed ';
    margin-top: var(--space-32);
  }
  .task-column.blue,
  .task-column.green {
    margin-top: var(--space-32);
  }
  .navbar--list__item:nth-child(5) {
    display: block;
  }
  .add-task-btn {
    display: none;
  }
}
