/* Side navbar */
.app__sidebar {
  z-index: 100;
  position: fixed;
  width: 25.5rem;
  height: 100%;

  background-color: var(--cyan-blue);
  transition: 0.5s ease;
  overflow: hidden;
}

.app__sidebar.active {
  width: 5.5rem;
}

.app__sidebar-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.app__sidebar-items {
  position: relative;
  width: 100%;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

.app__sidebar-items:hover,
.app__sidebar-items.hovered {
  background-color: var(--light-pink);
  color: var(--cyan-blue);
}

.app__sidebar-items:nth-child(1) {
  margin-bottom: 4rem;
  pointer-events: none;
}

.app__nav-link {
  position: relative;
  display: block;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  color: var(--light-pink);
  font-size: var(--font-size-17);
  font-weight: var(--regular-weight);
}

.app__sidebar-items:hover a,
.app__sidebar-items.hovered a {
  color: var(--cyan-blue);
}

.app-logo.active {
  justify-content: space-between;
}

.app__logo-text {
  display: block;
}

.app__logo-text.active {
  display: none;
}

.app__nav-link .icon {
  display: block;
  min-width: 6rem;

  height: 6rem;
  line-height: 7.5rem;
  text-align: center;
}

.app__logo-icon {
  width: 4rem;
  height: 4rem;
}

.app__nav-link .icon img {
  padding: 0.7rem;
  border-radius: 25%;
  background: var(--cyan-blue);
  width: 3rem;
  height: 3rem;
}

.app__nav-link.app__nav-link--list-screen img {
  padding: 0;
  background: var(--light-pink);
}

.task-name-icon,
.task-start-icon,
.task-end-icon,
.priority-icon,
.category-icon {
  width: 2rem;
  height: 2rem;
}

.app__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--space-16);

  padding-right: 1rem;
  height: 2.5rem;

  color: var(--light-pink);
  text-align: start;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: var(--font-size-20);
}

/* Top bar */
.app-main {
  position: absolute;
  width: calc(100% - 25.5rem);
  left: 25rem;
  min-height: 100vh;

  border-right: 0.1rem solid var(--black);
  background: var(--light-pink);
  transition: 0.5s ease;
}

.app-main.active {
  width: calc(100% - 5.5rem);
  left: 5.5rem;
}

.topbar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  background-color: var(--light-cyan-blue);
  padding: var(--space-8) var(--space-16);
}

.topbar__menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3.1 rem;
  height: 2.5rem;
  font-size: 2.5rem;
  cursor: pointer;
}

.search-bar__input-bar {
  display: flex;
  flex-wrap: none;
  width: 36.5%;
  padding: var(--space-4);
  background-color: var(--light-pink);
  border-radius: var(--border-radius-6);
}

.search-bar__input-bar.hidden {
  display: none;
}

.input-bar__main-input {
  border: none;
  flex: 1;
  width: 90%;
  padding: var(--space-4);

  background-color: var(--light-pink);
  color: var(--cyan-blue);
  font-size: var(--font-size-11);
  font-weight: var(--regular-weight);
  outline: none;
}

.input-bar__main-input::placeholder {
  opacity: 0.75;
}

.utility {
  display: flex;
  flex-direction: row;
  gap: var(--space-16);
}

.user-icon-icon,
.theme-icon {
  width: 3rem;
  height: 3rem;
}

.utility__link {
  width: 2.2rem;
  height: 2.8rem;
}

.task-column__indicator {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: inline-block;
}

.app__main {
  display: flex;
  flex-direction: column;
}

.board {
  width: 100%;
  margin: 0 auto;
}

/*Task body*/
.list-view {
  display: flex;
  flex-direction: column;
}

.status-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-8);
}

#edit-task-modal.mark-completed {
  justify-items: center;
}

/* lists view */
.list-view {
  margin-top: var(--space-32);
}

.list-view.hidden {
  display: none;
  margin-top: var(--space-128);
}

.list-view .task-column {
  margin: var(--space-32) auto 0;
  background-color: var(--light-pink);
  border: 2px solid var(--black);
  border-radius: var(--border-radius-7);
  width: calc(100% - var(--space-32));
}

.list-view .task-column.task-column--todo,
.list-view.task-columns .task-column.todo {
  box-shadow: var(--pink-shadow);
  margin: var(--space-32) auto 0;
}

.list-view .task-column.task-column--in-progress,
.list-view.task-columns .task-column.in-progress {
  box-shadow: var(--blue-shadow);
}

.list-view .task-column.task-column--completed,
.list-view.task-columns .task-column.completed {
  box-shadow: var(--green-shadow);
}

.task-column__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--space-16);

  gap: var(--space-8);
  font-size: var(--font-size-20);
  font-weight: var(--bold-weight);
  color: var(--cyan-blue);
}

.list-view .task-item {
  width: 100%;
  background-color: var(--light-pink);
  border-bottom: 0.1rem solid var(--black);
  border-radius: 0;
}

.list-view .task-item__heading,
.list-view .start-date,
.list-view .end-date,
.list-view .duration-badge,
.list-view .confirm-button-desc {
  color: var(--cyan-blue);
}

.confirm-button-desc {
  font-size: var(--font-size-13);
  font-weight: var(--regular-weight);
  color: var(--light-pink);
}

.list-view .button-icon,
.list-view .task-edit,
.list-view .task-delete {
  background-color: var(--cyan-blue);
  padding: var(--space-4);
  border-radius: 25%;
}

.list-view .task-column__header {
  padding: var(--space-16);
  border-bottom: 2px solid var(--black);
}

.task-column__header .task-column__title {
  font-weight: 600;
  font-size: var(--font-size-16);
}

.task-item .task-item__details {
  width: 100%;
  text-align: left;
}

.list-view .task-item .task-item__details {
  display: grid;
  grid-template-areas:
    'heading heading duration'
    'start start start'
    'end end button';
}

.list-view .task-item:first-child {
  margin-top: 0;
}

.list-view .task-item .task-item__heading {
  grid-area: heading;
}

.list-view .task-item .task-duration {
  grid-area: duration;
}

.list-view .task-item .start-date {
  grid-area: start;
  margin: auto 0;
}

.list-view .task-item .end-date {
  grid-area: end;
  margin: auto 0;
}

.list-view .task-item {
  padding: 0 var(--space-8);
}

.list-view .task-item .status-button {
  grid-area: button;
  flex-direction: row-reverse;
  align-items: center;
  margin-right: -3rem;
  margin-top: 1.4rem;
  gap: var(--space-8);
}

/* broad view */
.board-view {
  overflow-x: auto;
  padding: 0 var(--space-8) var(--space-8);
  column-gap: var(--space-24);
  scrollbar-width: none;
  margin-top: var(--space-64);
}

.board-view.hidden {
  display: none;
}

.board-view::-webkit-scrollbar {
  display: none;
}

.board-view .task-item {
  margin: var(--space-16) auto 0;
}

.board-view .task-list.task-list--todo .task-item {
  box-shadow: var(--pink-shadow);
}

.board-view .task-list.task-list--in-progress .task-item {
  box-shadow: var(--blue-shadow);
}

.board-view .task-list.task-list--completed .task-item {
  box-shadow: var(--green-shadow);
}

.board-view .task-column.task-column--todo {
  grid-area: toDo;
}

.board-view .task-column.task-column--in-progress {
  grid-area: running;
}

.board-view .task-column.task-column--completed {
  grid-area: completed;
}

/*Create task*/
.all-task-modal__header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 12rem;
  margin: 10rem 13% var(--space-32);

  border-radius: var(--border-radius-4);
  font-size: var(--font-size-38);
  font-weight: var(--bold-weight);
  color: var(--white);
  background-color: var(--light-cyan-blue);
}

.form__label {
  display: block;
  padding-bottom: var(--space-8);
  margin-bottom: 0.5rem;

  font-size: var(--font-size-17);
  font-weight: var(--regular-weight);
  text-align: left;
  color: var(--cyan-blue);
}

.task-name-container,
.task-start-container,
.task-end-container,
.form__priority-select,
.form__category-select,
.default-option-container {
  display: flex;
  align-items: center;
  min-height: 4rem;
  width: 24rem;

  cursor: pointer;
  border: var(--border-radius-3) solid var(--cyan-blue);
  border-radius: var(--border-radius-6);
}

.form__priority-select,
.form__category-select {
  flex-direction: column;
  border: none;
}

.task-name-input,
.task-start-input,
.task-end-input,
.default-option,
.priority-options,
.category-options,
.status-options {
  flex: 1;
  min-height: 4rem;
  font-size: var(--font-size-15);
  font-weight: var(--regular-weight);
  color: var(--cyan-blue);
  cursor: pointer;
}

.task-name-input {
  width: 2rem;
}

.task-start-input,
.task-end-input {
  position: relative;
}

.task-start-input::-webkit-calendar-picker-indicator,
.task-end-input::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;

  height: auto;
  width: auto;
  background: transparent;
  color: transparent;
  cursor: pointer;
}

.task-start-input::-webkit-inner-spin-button,
.task-end-input::-webkit-inner-spin-button {
  z-index: 1;
}

.task-start-input::-webkit-clear-button,
.task-end-input::-webkit-clear-button {
  z-index: 1;
}

.form__task-name,
.form__task-desc,
.form__task-priority,
.form__task-start,
.form__task-end,
.task-status {
  margin-bottom: var(--space-32);
}

.default-option,
.priority-options,
.category-options,
.status-options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.priority-options,
.category-options,
.status-options {
  display: inline-flex;
  padding: var(--space-8) 0;
}

.status-options {
  margin-left: var(--space-8);
}

.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10%;
  padding: 2rem;
  background-color: var(--light-pink);
}

.form__task-desc {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

/* Edit popup  */
.edit-task-button,
.form__actions .mark-completed,
.delete-button {
  width: 20rem;
}

.form__actions {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: var(--space-48);
  margin-top: 2rem;
}
/* create task overlay */
.overlay.toggle {
  width: 100%;
}

.overlay.hidden {
  display: none;
}

.list-view.task-columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  gap: var(--space-32);
  padding: var(--space-16);
  border-radius: var(--border-radius-6);
  background-color: var(--light-pink);
  width: 100%;
}

.no-tasks-message {
  text-align: center;
  font-size: var(--font-size-15);
  color: var(--black);
  margin-top: 1rem;
  opacity: 0.8;
}

.sort__dropdown-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-4);

  border-radius: var(--border-radius-2);
  background-color: var(--cyan-blue);
  height: 3.3rem;
  width: 13rem;
}

.filter__dynamic-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--space-16);
  min-height: 3rem;
}

.filter__field-dropdown,
.filter__options-dropdown,
.sort__dropdown {
  display: flex;
  flex-direction: column;
  padding: var(--space-8) var(--space-4);
  border: none;
  width: 13rem;

  border-radius: var(--border-radius-2);
  background-color: var(--cyan-blue);
  outline: none;

  color: var(--light-pink);
  font-size: var(--font-size-13);
  font-weight: var(--bold-weight);
}

.sort__dropdown {
  appearance: none;
  padding-left: var(--space-8);
  padding-right: 0;
}

.sort__order-toggle {
  color: var(--light-pink);
  padding-right: var(--space-4);
}

.filter__actions-container,
.filter__actions {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--space-16);
  align-items: center;
}

.filter__actions {
  gap: var(--space-16);
}

.filter__label,
.sort__label {
  font-size: var(--font-size-17);
  font-weight: var(--bold-weight);
  text-align: left;
  color: var(--cyan-blue);
  display: inline-flex;
}

.task-edit-icon,
.task-delete-icon {
  width: 2.5rem;
  height: 2.5rem;
}
/* popup style */
.overlay,
.confirmation-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;

  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.overlay:not(.hidden) {
  opacity: 1;
  visibility: visible;
}

.modal__container {
  position: relative;
  width: 100%;
  max-width: 55rem;
  max-height: 90vh;

  background-color: var(--white);
  border-radius: 12px;
  overflow-y: auto;
  transform: scale(0.7);
  opacity: 0;
  transition: all 0.3s ease;
}

.overlay:not(.hidden) .modal__container {
  transform: scale(1);
  opacity: 1;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  border-bottom: 0.2rem solid var(--gray);
  background-color: var(--light-cyan-blue);
}

.modal__title {
  margin: 0;
  font-size: var(--font-size-15);
  font-weight: var(--bold-weight);
}

.modal__close {
  background: none;
  border: none;
  font-size: 2.5rem;
  color: var(--bright-red);
  cursor: pointer;
  transition: color 0.2s ease;
}

.form__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.modal__close:hover {
  color: var(--dark-gray);
}

.task-name-container,
.task-start-container,
.task-end-container {
  position: relative;
}

.task-name-container input,
.task-start-container input,
.task-end-container input,
.textarea-input {
  width: 100%;
  padding: 0.5rem 3rem 0.5rem 0.8rem;
  border-radius: var(--border-radius-6);
  transition: border-color 0.3s ease;
}

.task-name-container .task-name-icon,
.task-start-container .task-start-icon,
.task-end-container .task-end-icon {
  position: absolute;
  right: var(--space-8);
  top: 50%;
  transform: translateY(-50%);
}

.btn {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: var(--border-radius-6);
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: var(--font-size-17);
  font-weight: var(--bold-weight);
}

.btn-cancel {
  background-color: var(--pink);
  color: var(--dark-gray);
}

.btn-primary {
  background-color: var(--blue);
  color: var(--white);
}

.btn-secondary {
  display: flex;
  gap: var(--space-8);
  background-color: var(--bright-red);
  color: var(--white);
}

.btn-success {
  background-color: var(--cyan-blue);
  color: var(--white);
}

.all-task-overlay {
  z-index: 100;
  position: absolute;
  width: 100%;
  top: 4.4rem;
  bottom: 0;

  min-height: 100%;
  background-color: var(--light-pink);
  overflow-y: auto;
}

.app__nav-icon-image--link {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--light-pink);
  border-radius: 20%;
}

.sort__icon {
  width: 2.5rem;
  height: 2.5rem;
}

#all-task-modal .board-view.hidden,
#all-task-modal .list-view.hidden {
  display: none;
}
/* confirmation delete popup */
.confirmation-container {
  background-color: var(--light-pink);

  border-radius: var(--border-radius-7);
  max-width: 40rem;
  width: 90%;
  text-align: center;
}

.modal__confirmation-content {
  margin: 2rem 0;
}

.modal__confirmation-message {
  font-size: var(--font-size-15);
  font-weight: var(--bold-weight);
  color: var(--black);
}

.modal__confirmation-actions {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.confirm-delete-btn,
.cancel-delete-btn {
  padding: 1rem 2rem;
  border-radius: var(--border-radius-4);
  font-size: var(--font-size-15);
  font-weight: var(--bold-weight);
  cursor: pointer;
}

.confirm-delete-btn {
  background-color: var(--bright-red);
  color: var(--white);
  border: none;
}

.cancel-delete-btn {
  background-color: var(--blue);
  color: var(--white);
  border: 1px solid var(--gray);
}
@media (min-width: 800px) {
  .app__sidebar {
    width: 25.5rem;
  }

  .app-main {
    width: calc(100% - 25.5rem);
    left: 25.5rem;
  }

  .app-main.active {
    width: calc(100% - 5.5rem);
    left: 5.5rem;
  }
}
@media (max-width: 799px) {
  .app__sidebar {
    width: 5.5rem;
  }

  .app__sidebar.active {
    width: 25.5rem;
  }

  .app-main {
    width: calc(100% - 5.5rem);
    left: 5.5rem;
  }

  .app-main.active {
    width: calc(100% - 25.5rem);
    left: 25.5rem;
  }
  .app__logo-text {
    display: none;
  }

  .app__logo-text.active {
    display: initial;
  }
}

@media (min-width: 1001px) {
  .board-view,
  .task-columns {
    display: grid;
    grid-template-areas: 'toDo running completed';
    align-items: flex-start;
  }
  .hiding-overlay {
    display: none;
  }
}

@media (min-width: 650px) and (max-width: 1000px) {
  .board-view,
  .task-columns {
    display: grid;
    grid-template-areas:
      'toDo running'
      'completed completed';
    align-items: flex-start;
  }
  .task-column.task-column--completed {
    margin-top: var(--space-32);
  }
  .hiding-overlay {
    display: none;
  }
  .filter-wrapper {
    padding: 0 var(--space-4);
  }
}

@media (max-width: 649px) {
  .board-view .task-columns {
    display: grid;
    grid-template-areas: 'toDo ' 'running ' 'completed ';
    margin-top: var(--space-32);
  }
  .task-column.task-column--in-progress,
  .task-column.task-column--completed {
    margin-top: var(--space-32);
  }
  .app__sidebar-items:nth-child(5) {
    display: block;
  }
  .utility__icon,
  .utility {
    display: none;
  }
  .form__grid {
    grid-template-columns: 1fr;
  }

  .modal__container {
    width: 95%;
    margin: 0 auto;
  }
}
